.buttons {
  width: 100%;
  margin-top: 3rem;
  display: flex;
  justify-content: center;
}

.buttons button {
  font-size: 1.2rem;
  background: rgb(23, 124, 229);
  color: #fff;
  border-radius: 1.57rem;
  border: 1px solid rgb(23, 124, 229);
  width: 9.4rem;
  height: 3.1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.3rem;
  cursor: pointer;
}