.buttons {
  width: 100%;
  margin-top: 3rem;
  display: flex;
  justify-content: center;
}

.buttons button {
  font-size: 1.2rem;
  background: rgb(23, 124, 229);
  color: #fff;
  border-radius: 1.57rem;
  border: 1px solid rgb(23, 124, 229);
  width: 9.4rem;
  height: 3.1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.3rem;
  cursor: pointer;
}

.post-button {
  font-family: Arial;
  border: 1px solid #333 !important;
  background: transparent !important;
  color: #333 !important;
  font-weight: 700;
}

.post-button:hover {
  background: #000 !important;
  color: #fff !important;
}

.post-button img {
  background: #fff;
  width: 1.25rem;
  margin-right: 0.62rem;
  border-radius: 0.5rem;
}