* {
  margin: 0;
  padding: 0;
  font-family: 'Playfair', Arial, sans-serif;
  box-sizing: border-box;
}

body {
  background: #bbc6fa;
}

button {
  cursor: pointer;
}

button:hover {
  opacity: 0.9;
}

button:active {
  opacity: 0.7;
}